---
import { Footer } from '@/partials/Footer';
import { Navbar } from '@/partials/Navbar';
import { AppConfig } from '@/utils/AppConfig';

export interface Props {
  head: {
    title: string;
    description: string;
  };
}

const {
  head: { title, description },
} = Astro.props as Props;
---

<html lang='en' class="scroll-smooth">
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Jury Andrea D'Onofrio's Website</title>

    <link rel='alternate' type='application/rss+xml' href='/rss.xml' />
    <link rel="icon" href="./icon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
    
  </head>
  <body class='bg-slate-900 text-gray-100'>
  
    <Navbar />

    <slot></slot>

    <Footer />
  </body>
</html>
